.idea/
composer.lock
vendor/
!vendor/desfpc/icecms2
!tests/vendor
!controllers/vendor
!templates/vendor
settings/local.php
settings/product.php
.phpunit.result.cache
**/.DS_Store
web/files_test
.DS_Store
*.log
.DS_Store
composer.phar
