.idea/
composer.lock
vendor/
!vendor/desfpc/icecms2
!vendor/desfpc/icecms2/*
!tests/vendor
!templates/vendor
settings/local.php
settings/product.php
.phpunit.result.cache
**/.DS_Store
web/files_test
.DS_Store
*.log
composer.phar
web/files/*
web/js/vuebootstrap
web/js/vendor
templates/vendor/ice
controllers/vendor
/elasticsearch
/elasticsearch/*
.docker-init-done
